@import "./util/reset.css";
@import "./util/font-inter.css";
@import "./util/palette.css";
@import "./util/loading-box.css";

/* Elements */
@import "./elements/title.css";
@import "./elements/section.css";
@import "./elements/parallax.css";

/* Sections */
@import "./sections/titlecard.css";
@import "./sections/info.css";
@import "./sections/adaboost.css";

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--Light);
}

.size-viewport {
  width: 100vw; /* This sets an ideal width */
  max-width: 100%; /* This stops horizontal scroll */
  height: 100vh; /* This sets an ideal height */
  max-height: 100%; /* This stops vertical scroll */
}

#section-end .float-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-end {
  background-color: var(--Dark);
}
