.section {
  width: 100vw; /* This sets an ideal width */
  max-width: 100%; /* This stops horizontal scroll */
  height: 80px;
  background: var(--Light);
  color: var(--Dark);
  display: flex;
  justify-content: left;
  padding: 0px 20px;
  font-size: 24px;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 2;
}
